.ContenedorHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-image: url('../../Img/Fondo3.jpg'), url('../../Img/Fondo4.jpg'), url('../../Img/Fondo5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.TituloHome {
  font-size: 40px;
  color: #333333;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .ContenedorHome {
    padding: 40px 20px;
  }

  .TituloHome {
    font-size: 30px;
  }
}
